.stateHook {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 10em;
    overflow: hidden;
    position: relative;
}

.bear {
    font-size: 100px;
}

.tear {
    position: absolute;
    left: 51%;
    top: 70px;
    animation-name: falling-tear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes falling-tear {
    0% {
        top: 70px;
    }

    5% {
        top: 90px;
    }

    100% {
        top: 100vh;
    }

}